.body{background: #339900;}
span{ display: block; }
 
.outline{ width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF; color: #cc0033; height:167px;}
.top{ text-align: left; }
.bottom{ text-align: right; }

.spacer { width:10px; }
